
@media only screen and (min-width: 360px) {

    .main {
        width: 127%;
        height: 146%;
        margin-left: 194px;
        padding-top: 90px;
        padding-left: 45px;
        background-color: rgb(120, 160, 160);
        display: flex;
        flex-direction: column;
    }

    .heading {
        display: flex;
        width: 1244px;
        margin: 20px 0px 50px 10px;
        font-size: 26px;
    }

    .main_heading {
        margin-top: 10px;
        color: rgb(50, 20, 20);
    }

    .image_container {
        width: 1254px;
        display: flex;
        flex-wrap: wrap;
    }

    .image_outer {
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image {
        margin-right: 60px;
        margin-bottom: 5px;
    }

    .artist {
        border-radius: 85px;
    }

    .photo {
        border-radius: 15px;
    }

    .name {
        width: 190px;
        overflow: hidden;
        margin-top: 15px;
    }

    .artist_name {
        margin-bottom: 5px;
        width: 150px;
        font-size: 16px;
        text-align: center;
        height: 20px;
    }
}






@media only screen and (min-width: 1024px) {

    .main {
        width: 127%;
        height: 146%;
        margin-left: 194px;
        padding-top: 90px;
        padding-left: 45px;
        background-color: rgb(120, 160, 160);
        display: flex;
        flex-direction: column;
    }

    .heading {
        display: flex;
        width: 1244px;
        margin: 20px 0px 50px 10px;
        font-size: 26px;
    }

    .main_heading {
        margin-top: 10px;
        color: rgb(50, 20, 20);
    }

    .image_container {
        width: 1254px;
        display: flex;
        flex-wrap: wrap;
    }

    .image_outer {
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image {
        margin-right: 60px;
        margin-bottom: 5px;
    }

    .artist {
        border-radius: 85px;
    }

    .photo {
        border-radius: 15px;
    }

    .name {
        width: 190px;
        overflow: hidden;
        margin-top: 15px;
    }

    .artist_name {
        margin-bottom: 5px;
        width: 150px;
        font-size: 16px;
        text-align: center;
        height: 20px;
    }
}





@media only screen and (min-width: 1280px) {

    .main {
        width: 102%;
        height: 117%;
        margin-left: 194px;
        padding-top: 90px;
        padding-left: 45px;
        background-color: rgb(120, 160, 160);
        display: flex;
        flex-direction: column;
    }

    .heading {
        display: flex;
        width: 1244px;
        margin: 20px 0px 50px 10px;
        font-size: 26px;
    }

    .main_heading {
        margin-top: 10px;
        color: rgb(50, 20, 20);
    }

    .image_container {
        width: 1254px;
        display: flex;
        flex-wrap: wrap;
    }

    .image_outer {
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image {
        margin-right: 60px;
        margin-bottom: 5px;
    }

    .artist {
        border-radius: 85px;
    }

    .photo {
        border-radius: 15px;
    }

    .name {
        width: 190px;
        overflow: hidden;
        margin-top: 15px;
    }

    .artist_name {
        margin-bottom: 5px;
        width: 150px;
        font-size: 16px;
        text-align: center;
        height: 20px;
    }
}


/* For Laptop */

@media only screen and (min-width: 1536px) {

    .main {
        width: 100%;
        height: 100%;
        margin-left: 220px;
        padding-top: 90px;
        padding-left: 45px;
        background-color: rgb(120, 160, 160);
        display: flex;
        flex-direction: column;
    }

    .heading {
        display: flex;
        width: 1244px;
        margin: 20px 0px 50px 10px;
        font-size: 26px;
    }

    .main_heading {
        margin-top: 10px;
        color: rgb(50, 20, 20);
    }

    .image_container {
        width: 1254px;
        display: flex;
        flex-wrap: wrap;
    }

    .image_outer {
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image {
        margin-right: 60px;
        margin-bottom: 5px;
    }

    .artist {
        border-radius: 85px;
    }

    .photo {
        border-radius: 15px;
    }

    .name {
        width: 190px;
        overflow: hidden;
        margin-top: 15px;
    }

    .artist_name {
        margin-bottom: 5px;
        width: 150px;
        font-size: 16px;
        text-align: center;
        height: 20px;
    }
}